@use "sass:map";
@import "../../styles/helpers.scss";

.projects__stacked-cards {
    height: 950px;

    @include media("xs") {
        height: 900px;
    }

    @include media("sm") {
        height: toRem(850) !important;
    }

    @include media("500px") {
        height: toRem(800) !important;
    }

    @include media("700px") {
        height: toRem(720) !important;
    }

    @include media("md") {
        height: toRem(650) !important;
    }

    @include media("lg") {
        height: toRem(580) !important;
    }

    @include media("1200px") {
        height: toRem(500) !important;
    }

    @include media("md") {

        &:before,
        &:after {
            display: none;
        }
    }

    &:before {
        content: "";
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 50px;
        z-index: map.get($z-index, "stacked-cards-nav-area");
        touch-action: none;
    }

    &::after {
        content: "";
        background: transparent;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 50px;
        z-index: map.get($z-index, "stacked-cards-nav-area");
        touch-action: none;
    }
}

.project-card {
    border-radius: toRem(10);
    color: #fff;
}

.development-stack-name {
    color: #fff;
    border-radius: 5px;
}

.project-card__links {
    border-top: toRem(2) solid;

    a {
        margin-top: toRem(12);
        border-radius: toRem(5);
        color: #fff;
        padding: 10px;
        display: inline-block;
        font-weight: 700;
        cursor: pointer;

        &:last-child:not(:only-of-type) {
            margin-left: 10px;
        }
    }
}