@import "./helpers.scss";

.experience {
    .experience-card {
        &__company-logo {
            position: relative;
            width: toRem(100);
            height: toRem(100);
            background: transparent;
            background-image: linear-gradient(white, white), linear-gradient(#4cb3d0, #4b45bd);
            background-clip: padding-box, border-box;
            background-origin: border-box;
            border: toRem(8) solid transparent;
            border-radius: 50%;
        }

        &__company-logo-overlay {
            position: absolute;
            top: -1rem;
            left: -1rem;
            background: #fff;
            border-radius: 50%;
            box-sizing: content-box;
            padding: 1rem;
            width: 100%;
            height: 100%;
        }

        &__progress-bar {
            position: relative;
            height: toRem(300);
            border-left: toRem(10) solid transparent;
            border-image: linear-gradient(#4b45bd, #4cb3d0);
            border-image-slice: 1;
            margin-top: -0.5px;

            @include media("md") {
                height: toRem(250);
            }
        }

        &__progress-bar-overlay {
            position: absolute;
            background: #fff;
            width: toRem(10);
            height: 100%;
            left: toRem(-10);
            overflow: hidden;
        }

        &__details {
            color: #fff;
            background: $bg-primary;
            padding: 1rem;
            border-radius: toRem(10);
            z-index: 2;
        }

        &__inprogress {
            width: toRem(30);
            height: toRem(30);
            background: transparent;
            background-image: linear-gradient(white, white), linear-gradient(#4cb3d0, #4b45bd);
            background-clip: padding-box, border-box;
            background-origin: border-box;
            border: toRem(8) solid transparent;
            border-radius: 50%;
            margin-left: toRem(33);
            position: static;
            z-index: 1;

            @include media("md") {
                margin-left: 0;
            }
        }
    }
}