@import "./helpers.scss";

.styled-heading {
    background-image: radial-gradient(#4cb3d0, #4b45bd);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.styled-border {
    width: 100%;
    text-align: center;
    border-bottom: 3px solid transparent;
    border-image: radial-gradient(#4b45bd, #4cb3d0, #e5a4ed);
    border-image-slice: 1;
    padding-bottom: toRem(10);
    margin-bottom: toRem(10);
}