$primary: linear-gradient(180deg, #e5a4ed, #7a5bf5);
$secondary: linear-gradient(90deg, #4cb3d0, #4b45bd);
$bg-primary: linear-gradient(90deg, #7a5bf5, #4cb3d0);
$z-index: (
    "header": 11,
    "navbar": 10,
    "navbar-link": 1,
    "contacts": 9,
    "skill-bg": -1,
    "experience-card-inprogress": 1,
    "experience-card-details": 2,
    "page-bg": -1,
    "btn-primary": 0,
    "btn-primary-before": -1,
    "slice": -1
);