@import "variableAndMixin";

.sidebar{
    position: fixed;
    width: 60px;
    min-height: 100vh;
    z-index: 2;
    @include primary-gradient-background-2colors(right, #010934, #290652);
    transition: all 0.2s ease-in;
    overflow: hidden;
    text-align: center;
    @include mobile(768px){
        width: 0;
        &.active{
            width: 200px;
            transition-delay: 0.15s;
        }
    }
    &.active{
        width: 200px;
    }
    #nav-icon{
        display: none;
    }
    label{
        padding-bottom: 10px;
    }
    label i{
        font-size: 25px;
        color: #fff;
        margin-top: 1rem;
        padding: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in;
    }
    hr{
        width: 80%;
        margin: auto;
    }
    .active-tab{
        background-color: #fff;
        i{
            color: #290652;
        }
        span{
            color: #290652;
        }
        }
    nav{
        .logo{
            display: flex;
            align-items: center;
            color: #fff;
            min-width: 200px;
            padding: 20px 0;
            i{
                font-size: 35px;
                min-width: 55px;
            }
            span{
                font-weight: 600;
                margin-left: 10px;
                font-size: 25px;
            }
        }
        a{
            display: flex;
            align-items: center;
            color: #fff;
            min-width: 200px;
            padding: 5px 0;
            cursor: pointer;
            &:not(:first-child){
                &:hover{
                    background-color: #fff;
                    i{
                        color: #290652;
                    }
                    span{
                        color: #290652;
                    }
                }
            }
            i{
                font-size: 25px;
                padding: 10px;
                min-width: 60px;
            }
            span{
                margin-left: 10px;
                font-size: 17px;
                font-weight: 600;
            }
        }
    }
    .contacts-nav{
        position: relative;
        top: 90px;
        a{
            display: flex;
            align-items: center;
            color: #fff;
            min-width: 200px;
            cursor: pointer;
            &:hover{
                background-color: #fff;
                i{
                    color: #290652;
                }
                span{
                    color: #290652;
                }
            }
            i{
                font-size: 35px;
                padding: 10px;
                min-width: 60px;
            }
             span{
                font-weight: 600;
                margin-left: 10px;
                font-size: 17px;
            }
        }
    }
}