@import 'variableAndMixin';

.skills-root{
    @include display-flex(column, center);
    @include mobile(768px) {
        margin-bottom: 5rem;
    }
    color: $text-color;
    min-height: 100vh;
}

.skills-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    width: 50%;
    margin-top: 10px;
    @include mobile(768px){
        width: 100%;
        justify-content: space-around;
    }
}

.skills-root hr{
    background-color: #fff;
    width: 50%;
    margin-bottom: 10px;
}

.skill{
    width: 170px;
    @include primary-gradient-background-2colors(bottom, #24003D, #010101);
    opacity: 0.9;
    box-shadow: -2px 2px 10px purple;
    border-radius: 10px;
    @include display-flex(column, center);
    padding: 10px;
    i{
        font-size: 100px;
    }
    p{
        font-size: 17px;
        font-weight: 600;
    }
    @include mobile(768px){
         margin-left: 0;
    }
}