.App{
    width: 100%;
    min-height: 100vh;
    background-color: #000A2C;
    background-image: url("https://res.cloudinary.com/pic-gallary/image/upload/v1625053840/my-portofolio/backgroundImg_dlpngk.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}